.errorMessages {
            color: red;
        }
.new-errorMessages {
    color: red;
    text-align: center;
}


.errorMessage {
    color: red
}

body {
	background-color: #e0f9ff;
}

.search {
    display: flex;
    margin-top: 20px;
}

input[type="button"] {
    float: left;
    margin-right: 20px;
}
.add-message {
    text-align: center;
}

.message-icon {
    margin-bottom: 10px;
    background-color: white;
    padding: 2em;
    border: dashed 2px #b3ada4;
    background-image: repeating-linear-gradient(-45deg,#f2f3f7 0, #f2f3f7 3px,transparent 3px,transparent 6px);
}

.name, .category, .content {
    background-color: #fff; /* ボックス背景色 */
    	padding: 5px 2px 2px; /* ボックス内側余白 */
    	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);/*ボックス影*/
    	position:relative;
}
.title {
    background-color: #8b9b9d;
    font-size: 1em;
    color: #fff;
    padding: 1px;
    text-align: left;
    width: 100%;
    left: 0;
    bottom: 30px;
}

.read-button {
    float: right;
}

.toRead {
    background: lightgreen;
}
.toUnread {
    background: lightcoral;
}
/*userManage画面*/
.users {
    width: 1000px;
    margin: auto;
    background-color: #fff;
}
.users th {
    padding: 10px;
    border-bottom: 2px solid #e0f9ff;
}
.users th, .users td {
    text-align: left;
}

.branches {
    width: 1000px;
    margin: auto;
    background-color: #fff;
    margin-bottom: 20px;
}
.branches th {
    padding: 10px;
    border-bottom: 2px solid #e0f9ff;
}
.branches tr {
    margin-bottom: 20px;
}
.branches th, .branches td {
    text-align: center;
}
.edit-user {
    background: lightblue;
    border-radius: 3px;
}

.ng-words-list {
    width: 1000px;
    margin: auto;
    background-color: #fff;
}
.ng-words-list th {
    padding: 10px;
    border-bottom: 2px solid #e0f9ff;
}
.ng-words-list th, .users td {
    text-align: left;
}

.ng-word-form {
    text-align: center;
    margin-bottom: 20px;
}
.off {
    background: lightpink;
    border-radius: 3px;
}
.on {
    background: lightgreen;
    border-radius: 3px;
}